.container {
}

.category-section {
  display: none
}

// .question:first-child{
//   display: block
// }

.toggle-content {
  display: none
}

.visible {
  display: block
}

.invisible {
  display: none
}

#previous {
  display: none
}
// document.addEventListener("DOMContentLoaded", (event) => {
//   console.log("doing");
//   firstQuestionDiv.classList.add("visible");
// });
