.confirmation {
  // border: 1px solid white;
  height: 400px;
  width: 700px;
  margin-top: 200px;
  margin-left: 210px;
  padding: 50px;
  text-align: center;
  h1 {
    margin-bottom: 20px;
    font-weight: 300
  }
  h4 {
    font-weight: 300;
    margin-bottom: 50px
  }
}
