.dashboard-body-content {
  padding-top: 10vh;
}

.dashboard-flex {
  display: flex;
  justify-content: center;
}

.dashboard-score-section {
  justify-content: right;
  align-items: right;
}

.dashboard-link-section {
  justify-content: left;
  align-items: left;
}

.dashboard-link-card {
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
  top: 15vh;
  position: sticky;
}

.dashboard-questionnaire-links {
  display: flex;
  justify-content: space-between;
}

.dashboad-temp-chart-placeholder {
  height: 100vh;
  border-bottom: 1px solid white;
}



.scoreChart {
  p {
  font-size: 1.5rem;
  color: yellow;
}
  position: relative;
}

.absolute-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}
h2 {
    text-align: center;
  }


