<div class="container">
  <div class="dashboard-body-content">
    <div class="dashboard-flex">
      <div class="dashboard-score-section">
        <%= render "user", user: @user %>
        <div class="dashboard-link-section">
          <div class="dashboard-link-card">
            <h2>Add/Update a score</h2>
            <p>Choose a category:</p>
            <div class="dashboard-questionnaire-links">
              <%= link_to "Travel", new_answer_path(category: "Travel"), class: "btn-standard-white" %>
              <br>
              <%= link_to "Home", new_answer_path(category: "Home"), class: "btn-standard-white" %>
              <br>
              <%= link_to "Charity", new_answer_path(category: "Charity"), class: "btn-standard-white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

