<!-- <div class="home-banner">
  <h1>Welcome to <span style="color: white;">terrascore</span></h1>
  <h2>Become <span style="color: green;">Greener</span>.</h2>
</div>
 -->



<div id="mySidenav" class="sidenav">
  <%= link_to "Close", root_path, class: "closebtn" %>
  <% if !user_signed_in? %>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
  <% else %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>
</div>



<!-- Use any element to open the sidenav -->
<!-- <span >open</span> -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div class="home-container">
  <div class="landing-text">
    <h2>terrascore</h2>
    <p>Elevate your lifestyle</p>

    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Measure your
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">diet</li>
          <li class="content__container__list__item">home</li>
          <li class="content__container__list__item">travel</li>
          <li class="content__container__list__item">donations</li>
        </ul>
      </div>
    </div>

    <button id="start" class="btn-standard-white">Get Started</button>
  </div>
</div>
