<div class="container">
  <div class="row py-4">
    <div class="col">
      <div class="new-payments-center">
        <h2>Please confirm your contribution...</h2>
        <p>Donation of <strong><%= humanized_money_with_symbol @order.amount %></strong> for <strong><%= @order.donation.name %></strong></p>
        <button id="pay" class="btn-standard-black">Donate</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
