.btn-standard-white {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 40px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    transition: 0.4s
  }
}

.btn-standard-black {
  background-color: black;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 36px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover {
    background-color: white;
    text-decoration: none;
    color: black;
    transition: 0.6s
  }
}


.btn-transition-white {
  color: black;
  // display: block;
  position: relative;
  border: 2px solid white;
  border-radius: 1px;
  padding: 8px 16px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  &:hover {
    color: white !important;
    background-color: transparent;
    text-shadow: nthree;
  };
  &:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
  };
  &:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: black;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }
}

button {
  color: black;
  // display: block;
  position: relative;
  border: 2px solid white;
  border-radius: 1px;
  padding: 8px 16px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
button:hover {
  color: white !important;
  background-color: transparent;
  text-shadow: nthree;
}
button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
button:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: black;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
