.navbar-lewagon {
  justify-content: space-between;
  color: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
  a:hover {
  color: green;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.link-colour {
  color: white;
  font-style: normal;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}
