.dashboard-body-content {
  display: flex;
  padding-top: 10vh;
  justify-content: space-between;
}

.dashboard-score-section {
  justify-content: right;
  align-items: right;
}

.dashboard-link-section {
  justify-content: left;
  align-items: left;
}
